<template>
 <q-page padding>
  <h1>Esto es Usuario</h1>
   <q-table
    title="Usuarios"
    :data="tableData"
    :columns="columns"
    row-key="name"  
  >
 
  <q-td slot="body-cell-actions" slot-scope="props" :props="props">
    <div class="row items-center justify-between no-wrap">
        <q-btn size="md" round dense color="secondary" icon="search" />
        <q-btn size="md" round dense color="tertiary" icon="create" @click="opened = true"/>
        <q-btn size="md" round dense color="negative" icon="clear" @click="visible = true"/>
      </div>
      
  </q-td>
  </q-table>
   <div >
      <q-btn label="Usuario" color="primary" @click="opened = true" />
     </div>
     <!--Modal -->
    <q-modal v-model="opened" :content-css="{minWidth: '50vw', minHeight: '50vh'}">
      <q-modal-layout>
        <q-toolbar slot="header">
          <q-btn
            flat
            round
            dense
            v-close-overlay
            icon="keyboard_arrow_left"
          />
          <q-toolbar-title>
            Editar usuario
          </q-toolbar-title>
        </q-toolbar>

        <q-toolbar slot="header">
          <q-search inverted v-model="search" color="none" />
        </q-toolbar>


        <div class="layout-padding">
          
            <usuarioForm-component></usuarioForm-component>

          <q-btn
            color="primary"
            v-close-overlay
            label="Close"
          />
        </div>
      </q-modal-layout>
    </q-modal>
   <!--Modal -->

   <!--Alerta-->
    <transition
      enter-active-class="animated bounceInLeft"
      leave-active-class="animated bounceOutRight"
      appear
    >
      <q-alert
        v-if="visible"
        type="negative"
        icon="delete"
        appear
        :actions="[{ label: 'Cerrar', handler: () => { visible = false } }]"
        class="q-mb-sm"
      >
       ¿Esta seguro que desea eliminar?
        <q-btn class="gt-xs" size="12px" flat dense round icon="done" />
        <q-btn class="gt-xs" size="12px" flat dense round icon="cancel" />
      </q-alert>
    </transition>
    <!--Alerta-->
  </q-page>
</template>

<script>
  import usuarioFormComponent from '../components/usuarioFormComponent'

  export default {
   components: {
    'usuarioForm-component': usuarioFormComponent
    },
  data: () => ({
    
     opened: false,
     visible: false,

    columns: [
      {
        name: 'name',
        required: true,
        label: 'Nombre',
        align: 'left',
        field: 'name',
        sortable: true,
        style: 'width: 200px'
      },
      {
        name: 'Apellido',
        required: true,
        label: 'Apellido',
        align: 'left',
        field: 'Apellido',
        sortable: true,
        style: 'width: 500px'
      },
      {
        name: 'Edad',
        required: true,
        label: 'Edad',
        align: 'left',
        field: 'Edad',
        sortable: true,
        style: 'width: 500px'
      },
      {
        name: 'actions',
        required: false,
        label: 'Acciones',
        align: 'left',
        field: 'actions',
        sortable: false,
        style: 'width: 100px'
      },
    ],
    tableData: [
      {
        name: 'Potatoes',
        Apellido: '159 calories, carbs 24',
        Edad: '25'
      },
      {
        name: 'Frozen Yogurt',
        Apellido: '80 calories, carbs 10',
        Edad: '23'
      },
    ],
  })
  
}
</script>

<style>
</style>
